.root{
    -main-grad: linear-gradient(to bottom right, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
